<div class="container">
    <app-nav-bar (searching)="searchArticle($event)"></app-nav-bar> 
  <div class="row">
    <div class="col-xs-4">
      <img src="assets/img/angular.png" class="img-responsive"alt="">
    </div>
    <div class="col-xs-8">
      <app-new-article  (createArticle)="newArticle($event)"></app-new-article>
      <div class="row margin-top-10">
        <app-article (deleteArticle)="deleteArticle($event)" *ngFor="let article of sortedArticles() | filterarticles:filterArticles let i = index" [article]="article"></app-article>  
      </div>
    </div>
  </div>
</div>
